__pycache__/
.env
.streamlit/secrets.toml
*.pyc
_cleanup_temp_dirs.py
_generate_pinecone_index.py
_rag_defaultknowledge_pinecone.py
# Ignore all files starting with _ in pages/ and utils/
pages/_*.py
utils/_*.py